<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
<display-name>yxDataCenter</display-name>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  
<servlet>
    <servlet-name>yxServlet</servlet-name>
    <servlet-class>com.yx.servlet.InitServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>yxServlet</servlet-name>
    <url-pattern>/Init.action</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>yxReportServlet</servlet-name>
    <servlet-class>com.yx.servlet.ReportServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>yxReportServlet</servlet-name>
    <url-pattern>/Report.action</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>yxRoomExportServlet</servlet-name>
    <servlet-class>com.yx.servlet.RoomExportServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>yxRoomExportServlet</servlet-name>
    <url-pattern>/Export.action</url-pattern>
</servlet-mapping>
</web-app>